.page1 {
    position: relative;
    font-family: 'Roboto';
    margin: auto;
    width: 1280px;
    height: 720px;
    background-image: url('../../img/main.png');
    background-size: cover;
}

.successfully-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86D3F4;
    padding: 48px;
    box-sizing: border-box;
}

.successfully-screen__title {
    margin: 217px 0 0;
    width: 200px;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}

.successfully-screen__subtitle {
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.workplace {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #86D3F4;
    padding: 48px;
    box-sizing: border-box;
}

.workplace__title {
    margin: 13px 0px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.workplace__number {
    font-size: 1.5em;
    text-align: center;
    background-color: #86D3F4;
    border: none;
}

.workplace__number:focus {
    /* outline: 0; */
    outline-style: solid;
    outline-offset: 0;
}

.workplace__subtitle {
    margin: 13px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.phone {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 20px 0 32px;
}

.phone__key {
    width: 88px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
}

.phone__key:nth-child(10) {
    width: 186px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.phone__key:hover {
    cursor: pointer;
    background-color: #74ccf1;
}

.workplace__approval {
    width: 100%;
    display: flex;
    align-items: center;
}

.workplace__lable {
    display: flex;
}

.workplace__lable:hover {
    cursor: pointer;
}

.workplace__checkbox {
    display: none;
}

.workplace__checkbox_fake {
    position: relative;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    border: 1px solid black;
    box-sizing: border-box;
}

.workplace__checkbox_fake::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-30%, -20%);
    background-image: url('../../img/enable.png');
    background-size: initial;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s;
}

.workplace__checkbox:checked + .workplace__checkbox_fake::after  {
    opacity: 1;
}

.workplace__checkbox-approval {
    margin: 0;
    width: 150px;
    font-size: 14px;
    line-height: 16px;
}

.workplace__button {
    width: 284px;
    height: 52px;
    background-color: #86D3F4;
    border: 1px solid #4E4E4E;
    color: #4E4E4E;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 15px;
}

.workplace__button_active {
    width: 284px;
    height: 52px;
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 15px;
}

.workplace__button, .workplace__button_active:hover {
    cursor: pointer;
}

.page1__button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 88px;
    height: 52px;
    background-color: #fff;
    border: none;
    background-image: url('../../img/close.png');
    background-size: cover;
}

.page1__button:hover {
    cursor: pointer;
}

.page1__info {
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    bottom: 40px;
}

.page1__text {
    margin: 0 10px 0 0;
    width: 194px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    text-transform: uppercase;
}

.page1__qr {
    width: 110px;
    height: 110px;
}